/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * @package scandipwa/base-theme
 * @link https://github.com/scandipwa/base-theme
 */

.PayTrail {
    min-height: 5rem;

    @include after-mobile {
        margin-top: 2rem;
    }

    &_isDisabled {
        display: none;
    }

    &-Group {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid var(--checkout-payment-border-color);

        &::before {
            content: none;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 1px solid var(--checkout-payment-border-color);
        }
    }

    &-Button {
        --check-mark-opacity: 0;

        width: 100%;
        padding: 1rem 3rem 1rem;
        text-align: left;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            opacity: var(--check-mark-opacity);
            transition: opacity 150ms ease-in;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 8px;
            width: 12px;
            height: 6px;
            transform: rotate(135deg) translateX(-5px);
            border-right: 2px solid var(--check-mark-color);
            border-top: 2px solid var(--check-mark-color);
        }

        &_isSelected {
            --check-mark-opacity: 1;
            --check-mark-color: var(--checkout-payment-check-mark-color);
        }

        &:not(&_isSelected):hover {
            --check-mark-opacity: 1;
            --check-mark-color: var(--checkout-payment-check-mark-hover-color);
        }
    }

    &-Methods {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &-MethodWrapper {
        width: 20%;
        padding: 5px;
    }
}
