.PayTrailMethod {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--checkout-payment-border-color);

    &::before {
        content: none;
    }

    &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid var(--checkout-payment-border-color);
    }

    &-Button {

        img {
            padding: 2px;
        }

        &_isSelected {
            border: 2px solid var(--primary-base-color);
            border-radius: 5px;
        }

        &:not(&_isSelected):hover {
            border: 2px solid var(--checkout-payment-check-mark-hover-color);
            border-radius: 5px;
        }
    }
}
